In [1]:
import pandas as pd 
from sklearn.feature_extraction.text import TfidfVectorizer
import re
from sklearn.feature_extraction.text import CountVectorizer
import nltk 
import string 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [2]:
stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer() 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rhmud\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [4]:
df=pd.read_csv('amazonsarees.csv',index_col=0)

In [5]:
df.shape

(21019, 6)

In [6]:
df.head()

,brand,desc,disc_price,actual_price,image_url,product_url
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...

In [7]:
df.isna().sum()

brand              0
desc               0
disc_price       699
actual_price    1000
image_url          0
product_url        0
dtype: int64

In [8]:
dfdrop=df.drop_duplicates(subset=['image_url'])
df1=dfdrop.reset_index(drop=True)
df1

,brand,desc,disc_price,actual_price,image_url,product_url
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...
...,...,...,...,...,...,...
17778,Ayaa Fashions,Women's Jute Linen Silk Mirror Work Contrast P...,NaN,NaN,https://m.media-amazon.com/images/I/51DwFWrlxY...,https://www.amazon.in/Ayaa-Fashions-Contrast-S...
17779,Womanista,Women's net with blouse piece 7510 Sarees (FS9...,"2,069","5,899",https://m.media-amazon.com/images/I/81Q9w68j-i...,https://www.amazon.in/Womanista-Blouse-Piece-S...
17780,PANASH TRENDS,Women's Jacquard Brasso Heavy Embroidery Saree -,"2,349",NaN,https://m.media-amazon.com/images/I/911rpxkD8T...,https://www.amazon.in/gp/slredirect/picassoRed...
17781,PANASH TRENDS,Women's Vichitra Silk Embroidery Work Saree,"2,299","7,699",https://m.media-amazon.com/images/I/91ShDoVza1...,https://www.amazon.in/gp/slredirect/picassoRed...
17782,KLARA,"New Kanchipuram Type Art Silk, Silver Zari Wov...",989,"4,999",https://m.media-amazon.com/images/I/91TCQsymw0...,https://www.amazon.in/gp/slredirect/picassoRed...

In [48]:
df1.to_csv('sareesimagenam.csv')

In [9]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
def remove_punct(desc):
    text_nopunct = "".join([char for char in desc if char not in string.punctuation])  
    return text_nopunct 

df1['descpunc'] = df1['desc'].apply(lambda x: remove_punct(x)) 

df1.head()

,brand,desc,disc_price,actual_price,image_url,product_url,descpunc
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...,Banarasi Silk Jacquard Saree With Blouse Piece
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...,Letest New Degine Saree For Womens Soft Satin ...
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Saree
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Silk Saree With Blouse Piece ...
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...,Womens Banarasi Silk Printed Saree

In [11]:
import re 
def tokenize(desc):  
    tokens = re.split('\W+', desc) 
    return tokens 

df1['desctoken'] = df1['descpunc'].apply(lambda x: tokenize(x.lower ())) 

df1.head()

,brand,desc,disc_price,actual_price,image_url,product_url,descpunc,desctoken
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...,Banarasi Silk Jacquard Saree With Blouse Piece,"[banarasi, silk, jacquard, saree, with, blouse..."
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...,Letest New Degine Saree For Womens Soft Satin ...,"[letest, new, degine, saree, for, womens, soft..."
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Saree,"[women, s, banarasi, saree]"
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Silk Saree With Blouse Piece ...,"[women, s, banarasi, silk, saree, with, blouse..."
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...,Womens Banarasi Silk Printed Saree,"[womens, banarasi, silk, printed, saree]"

In [12]:
sw=stopwords

In [14]:
def remove_stopwords(tokenized_list):  
    text = [word for word in tokenized_list if word not in stopwords]   
    return text

In [15]:
df1['descstop'] = df1['desctoken'].apply(lambda x: remove_stopwords (x)) 

df1.head()

,brand,desc,disc_price,actual_price,image_url,product_url,descpunc,desctoken,descstop
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...,Banarasi Silk Jacquard Saree With Blouse Piece,"[banarasi, silk, jacquard, saree, with, blouse...","[banarasi, silk, jacquard, saree, blouse, piece]"
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...,Letest New Degine Saree For Womens Soft Satin ...,"[letest, new, degine, saree, for, womens, soft...","[letest, new, degine, saree, womens, soft, sat..."
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Saree,"[women, s, banarasi, saree]","[women, banarasi, saree]"
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Silk Saree With Blouse Piece ...,"[women, s, banarasi, silk, saree, with, blouse...","[women, banarasi, silk, saree, blouse, piece, ..."
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...,Womens Banarasi Silk Printed Saree,"[womens, banarasi, silk, printed, saree]","[womens, banarasi, silk, printed, saree]"

In [16]:
df1['descstop']

0         [banarasi, silk, jacquard, saree, blouse, piece]
1        [letest, new, degine, saree, womens, soft, sat...
2                                 [women, banarasi, saree]
3        [women, banarasi, silk, saree, blouse, piece, ...
4                 [womens, banarasi, silk, printed, saree]
                               ...
17778    [womens, jute, linen, silk, mirror, work, cont...
17779    [womens, net, blouse, piece, 7510, sarees, fs9...
17780    [womens, jacquard, brasso, heavy, embroidery, ...
17781    [womens, vichitra, silk, embroidery, work, saree]
17782    [new, kanchipuram, type, art, silk, silver, za...
Name: descstop, Length: 17783, dtype: object

In [17]:
import nltk 
wn = nltk.WordNetLemmatizer() 
ps = nltk.PorterStemmer()

In [18]:
def lemmatizing(tokenized_text):  
    text = [wn.lemmatize(word) for word in tokenized_text]   
    return text

In [26]:
df1['desclema'] = df1['descstop'].apply(lambda x: lemmatizing(x)) 

df1

,brand,desc,disc_price,actual_price,image_url,product_url,descpunc,desctoken,descstop,desclema,desclemamm
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...,Banarasi Silk Jacquard Saree With Blouse Piece,"[banarasi, silk, jacquard, saree, with, blouse...","[banarasi, silk, jacquard, saree, blouse, piece]","[banarasi, silk, jacquard, saree, blouse, piece]",banarasi silk jacquard saree blouse piece
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...,Letest New Degine Saree For Womens Soft Satin ...,"[letest, new, degine, saree, for, womens, soft...","[letest, new, degine, saree, womens, soft, sat...","[letest, new, degine, saree, woman, soft, sati...",letest new degine saree woman soft satin silk ...
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Saree,"[women, s, banarasi, saree]","[women, banarasi, saree]","[woman, banarasi, saree]",woman banarasi saree
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...,Women’s Banarasi Silk Saree With Blouse Piece ...,"[women, s, banarasi, silk, saree, with, blouse...","[women, banarasi, silk, saree, blouse, piece, ...","[woman, banarasi, silk, saree, blouse, piece, ...",woman banarasi silk saree blouse piece kara135...
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...,Womens Banarasi Silk Printed Saree,"[womens, banarasi, silk, printed, saree]","[womens, banarasi, silk, printed, saree]","[woman, banarasi, silk, printed, saree]",woman banarasi silk printed saree
...,...,...,...,...,...,...,...,...,...,...,...
17778,Ayaa Fashions,Women's Jute Linen Silk Mirror Work Contrast P...,NaN,NaN,https://m.media-amazon.com/images/I/51DwFWrlxY...,https://www.amazon.in/Ayaa-Fashions-Contrast-S...,Womens Jute Linen Silk Mirror Work Contrast Pi...,"[womens, jute, linen, silk, mirror, work, cont...","[womens, jute, linen, silk, mirror, work, cont...","[woman, jute, linen, silk, mirror, work, contr...",woman jute linen silk mirror work contrast pip...
17779,Womanista,Women's net with blouse piece 7510 Sarees (FS9...,"2,069","5,899",https://m.media-amazon.com/images/I/81Q9w68j-i...,https://www.amazon.in/Womanista-Blouse-Piece-S...,Womens net with blouse piece 7510 Sarees FS985...,"[womens, net, with, blouse, piece, 7510, saree...","[womens, net, blouse, piece, 7510, sarees, fs9...","[woman, net, blouse, piece, 7510, saree, fs985...",woman net blouse piece 7510 saree fs9852 pink ...
17780,PANASH TRENDS,Women's Jacquard Brasso Heavy Embroidery Saree -,"2,349",NaN,https://m.media-amazon.com/images/I/911rpxkD8T...,https://www.amazon.in/gp/slredirect/picassoRed...,Womens Jacquard Brasso Heavy Embroidery Saree,"[womens, jacquard, brasso, heavy, embroidery, ...","[womens, jacquard, brasso, heavy, embroidery, ...","[woman, jacquard, brasso, heavy, embroidery, s...",woman jacquard brasso heavy embroidery saree
17781,PANASH TRENDS,Women's Vichitra Silk Embroidery Work Saree,"2,299","7,699",https://m.media-amazon.com/images/I/91ShDoVza1...,https://www.amazon.in/gp/slredirect/picassoRed...,Womens Vichitra Silk Embroidery Work Saree,"[womens, vichitra, silk, embroidery, work, saree]","[womens, vichitra, silk, embroidery, work, saree]","[woman, vichitra, silk, embroidery, work, saree]",woman vichitra silk embroidery work saree
17782,KLARA,"New Kanchipuram Type Art Silk, Silver Zari Wov...",989,"4,999",https://m.media-amazon.com/images/I/91TCQsymw0...,https://www.amazon.in/gp/slredirect/picassoRed...,New Kanchipuram Type Art Silk Silver Zari Wove...,"[new, kanchipuram, type, art, silk, silver, za...","[new, kanchipuram, type, art, silk, silver, za...","[new, kanchipuram, type, art, silk, silver, za...",new kanchipuram type art silk silver zari wove...

In [27]:
dc=df1['desclema']
dc

0         [banarasi, silk, jacquard, saree, blouse, piece]
1        [letest, new, degine, saree, woman, soft, sati...
2                                 [woman, banarasi, saree]
3        [woman, banarasi, silk, saree, blouse, piece, ...
4                  [woman, banarasi, silk, printed, saree]
                               ...
17778    [woman, jute, linen, silk, mirror, work, contr...
17779    [woman, net, blouse, piece, 7510, saree, fs985...
17780    [woman, jacquard, brasso, heavy, embroidery, s...
17781     [woman, vichitra, silk, embroidery, work, saree]
17782    [new, kanchipuram, type, art, silk, silver, za...
Name: desclema, Length: 17783, dtype: object

In [28]:
def concatenate_list_data(list):
    result=''
    for element in list :
        result=result + str(element)+' '
        
    return result

In [29]:
df1['desclemamm']=df1['desclema'].apply(concatenate_list_data)

In [30]:
df2=df1['desclemamm']

In [31]:
dec=df2.replace('[0-9]',"",regex=True)
dec

0               banarasi silk jacquard saree blouse piece
1        letest new degine saree woman soft satin silk ...
2                                    woman banarasi saree
3        woman banarasi silk saree blouse piece karapar...
4                       woman banarasi silk printed saree
                               ...
17778    woman jute linen silk mirror work contrast pip...
17779       woman net blouse piece  saree fs pink onesize
17780       woman jacquard brasso heavy embroidery saree
17781           woman vichitra silk embroidery work saree
17782    new kanchipuram type art silk silver zari wove...
Name: desclemamm, Length: 17783, dtype: object

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
tfidf_vec=TfidfVectorizer()

In [34]:
x_tf=tfidf_vec.fit_transform(dec).toarray()

In [35]:
x_tf.shape

(17783, 7412)

In [36]:
df0=pd.DataFrame(x_tf)

In [37]:
df0.value_counts

<bound method DataFrame.value_counts of        0     1     2     3     4     5     6     7     8     9     ...  7402  \
0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
3       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
17778   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
17779   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
17780   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
17781   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
17782   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0

       7403  7404  7405  7406  7407  7408  7409  7410  7411
0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...
17778   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17779   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17780   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17781   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17782   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[17783 rows x 7412 columns]>

In [38]:
df1=df1[['disc_price','actual_price']]

In [39]:
dec=df1.replace(',',"",regex=True)
dec

      disc_price actual_price
0           2499         6999
1            799         2599
2           1199         3999
3           1100         4499
4            379         2598
...          ...          ...
17778        NaN          NaN
17779       2069         5899
17780       2349          NaN
17781       2299         7699
17782        989         4999

[17783 rows x 2 columns]

In [40]:
dec.isnull().sum()

disc_price      618
actual_price    882
dtype: int64

In [41]:
dec['disc_price']=dec['disc_price'].astype(float)
dec['actual_price']=dec['actual_price'].astype(float)

In [61]:
dec['disc_price'].fillna(dec['disc_price'].mean(),inplace = True)
dec['actual_price'].fillna(dec['actual_price'].mean(),inplace = True)

In [65]:
dec = dec.round().astype(int)

In [66]:
dec.rename(columns = {'disc_price':'disc_price1', 'actual_price':'actual_price1'}, inplace = True)

In [67]:
dec

       disc_price1  actual_price1
0             2499           6999
1              799           2599
2             1199           3999
3             1100           4499
4              379           2598
...            ...            ...
17778         1241           3258
17779         2069           5899
17780         2349           3258
17781         2299           7699
17782          989           4999

[17783 rows x 2 columns]

In [68]:
sre = pd.read_csv('sareesimagenam.xls',index_col=0)
sre

,brand,desc,disc_price,actual_price,image_url,product_url
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...
...,...,...,...,...,...,...
17778,Ayaa Fashions,Women's Jute Linen Silk Mirror Work Contrast P...,NaN,NaN,https://m.media-amazon.com/images/I/51DwFWrlxY...,https://www.amazon.in/Ayaa-Fashions-Contrast-S...
17779,Womanista,Women's net with blouse piece 7510 Sarees (FS9...,"2,069","5,899",https://m.media-amazon.com/images/I/81Q9w68j-i...,https://www.amazon.in/Womanista-Blouse-Piece-S...
17780,PANASH TRENDS,Women's Jacquard Brasso Heavy Embroidery Saree -,"2,349",NaN,https://m.media-amazon.com/images/I/911rpxkD8T...,https://www.amazon.in/gp/slredirect/picassoRed...
17781,PANASH TRENDS,Women's Vichitra Silk Embroidery Work Saree,"2,299","7,699",https://m.media-amazon.com/images/I/91ShDoVza1...,https://www.amazon.in/gp/slredirect/picassoRed...
17782,KLARA,"New Kanchipuram Type Art Silk, Silver Zari Wov...",989,"4,999",https://m.media-amazon.com/images/I/91TCQsymw0...,https://www.amazon.in/gp/slredirect/picassoRed...

In [70]:
dropdup = pd.concat([sre,dec],axis=1)
dropdup.head()

,brand,desc,disc_price,actual_price,image_url,product_url,disc_price1,actual_price1
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...,2499,6999
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...,799,2599
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...,1199,3999
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...,1100,4499
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...,379,2598

In [73]:
dropdup.drop(['disc_price','actual_price'],axis=1, inplace=True)

In [75]:
dropdup.to_csv('dropduplicateval17.csv')

In [ ]:
df.drop(['C', 'D'], axis = 1)

In [38]:
from sklearn.preprocessing import MinMaxScaler

In [39]:
scale = MinMaxScaler()

In [40]:
dec2 = scale.fit(dec)

dec2 = scale.transform(dec)
dec2

array([[0.00857355, 0.02073726],
       [0.00257559, 0.0073975 ],
       [0.00398688, 0.01164197],
       ...,
       [0.00804431, 0.00939572],
       [0.0078679 , 0.0228595 ],
       [0.00324595, 0.01467374]])

In [41]:
dec2=pd.DataFrame(dec2)
dec2.columns=['disc_price1','actual_price1']
dec2

       disc_price1  actual_price1
0         0.008574       0.020737
1         0.002576       0.007398
2         0.003987       0.011642
3         0.003638       0.013158
4         0.001094       0.007394
...            ...            ...
17778     0.004136       0.009396
17779     0.007056       0.017402
17780     0.008044       0.009396
17781     0.007868       0.022859
17782     0.003246       0.014674

[17783 rows x 2 columns]

In [56]:
dfn=pd.concat([df1,dec2,df0],axis=1)

In [57]:
dfn

,brand,desc,disc_price,actual_price,image_url,product_url,disc_price1,actual_price1,0,1,...,7402,7403,7404,7405,7406,7407,7408,7409,7410,7411
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...,0.008574,0.020737,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...,0.002576,0.007398,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...,0.003987,0.011642,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...,0.003638,0.013158,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...,0.001094,0.007394,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17778,Ayaa Fashions,Women's Jute Linen Silk Mirror Work Contrast P...,NaN,NaN,https://m.media-amazon.com/images/I/51DwFWrlxY...,https://www.amazon.in/Ayaa-Fashions-Contrast-S...,0.004136,0.009396,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17779,Womanista,Women's net with blouse piece 7510 Sarees (FS9...,"2,069","5,899",https://m.media-amazon.com/images/I/81Q9w68j-i...,https://www.amazon.in/Womanista-Blouse-Piece-S...,0.007056,0.017402,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17780,PANASH TRENDS,Women's Jacquard Brasso Heavy Embroidery Saree -,"2,349",NaN,https://m.media-amazon.com/images/I/911rpxkD8T...,https://www.amazon.in/gp/slredirect/picassoRed...,0.008044,0.009396,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17781,PANASH TRENDS,Women's Vichitra Silk Embroidery Work Saree,"2,299","7,699",https://m.media-amazon.com/images/I/91ShDoVza1...,https://www.amazon.in/gp/slredirect/picassoRed...,0.007868,0.022859,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17782,KLARA,"New Kanchipuram Type Art Silk, Silver Zari Wov...",989,"4,999",https://m.media-amazon.com/images/I/91TCQsymw0...,https://www.amazon.in/gp/slredirect/picassoRed...,0.003246,0.014674,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
dfn1=dfn.drop(['desc','disc_price','actual_price','image_url','product_url'], axis=1)

In [59]:
dfn1

,brand,disc_price1,actual_price1,0,1,2,3,4,5,6,...,7402,7403,7404,7405,7406,7407,7408,7409,7410,7411
0,MANOHARI,0.008574,0.020737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Mashur Fab,0.002576,0.007398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CLOTHAM,0.003987,0.011642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CLOTHAM,0.003638,0.013158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ANNI DESIGNER,0.001094,0.007394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17778,Ayaa Fashions,0.004136,0.009396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17779,Womanista,0.007056,0.017402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17780,PANASH TRENDS,0.008044,0.009396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17781,PANASH TRENDS,0.007868,0.022859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17782,KLARA,0.003246,0.014674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
dummies = pd.get_dummies(dfn1.brand)
merged = pd.concat([dummies,dfn1],axis='columns')
dfn2 = merged.drop(['brand'], axis='columns')
dfn2

,'Generic,12 ANGEL DESIGN WORLD,14fashion,31DesignStreet,3S STAR,3stones,61&7NX,7 COLOURS,7 Colours,7Rainbow,...,7402,7403,7404,7405,7406,7407,7408,7409,7410,7411
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17778,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17779,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17780,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17781,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17782,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
dfn2.to_csv('sareesbrandencode.csv')

In [53]:
 from sklearn.metrics.pairwise import cosine_similarity

In [54]:
cs=cosine_similarity(dfn2)
cs

array([[1.        , 0.02824708, 0.27798412, ..., 0.14367748, 0.04531001,
        0.02599387],
       [0.02824708, 1.        , 0.02863722, ..., 0.07507317, 0.06891638,
        0.07126545],
       [0.27798412, 0.02863722, 1.        , ..., 0.03432233, 0.03983954,
        0.02285261],
       ...,
       [0.14367748, 0.07507317, 0.03432233, ..., 1.        , 0.63084539,
        0.00878638],
       [0.04531001, 0.06891638, 0.03983954, ..., 0.63084539, 1.        ,
        0.02453951],
       [0.02599387, 0.07126545, 0.02285261, ..., 0.00878638, 0.02453951,
        1.        ]])

In [55]:
dff1=pd.DataFrame(cs)
dff1

,0,1,2,3,4,5,6,7,8,9,...,17773,17774,17775,17776,17777,17778,17779,17780,17781,17782
0,1.000000,0.028247,0.277984,0.162174,0.263261,0.041204,0.040846,0.222256,0.054070,0.033764,...,0.026004,0.068123,0.055807,0.047643,0.008361,0.026184,0.031287,0.143677,0.045310,0.025994
1,0.028247,1.000000,0.028637,0.020561,0.090859,0.009474,0.049389,0.017053,0.030437,0.050262,...,0.011593,0.019774,0.018082,0.019483,0.103940,0.028971,0.007565,0.075073,0.068916,0.071265
2,0.277984,0.028637,1.000000,0.679155,0.369061,0.007724,0.035969,0.148680,0.047622,0.013977,...,0.009445,0.030938,0.014740,0.030484,0.031761,0.016748,0.023584,0.034322,0.039840,0.022853
3,0.162174,0.020561,0.679155,1.000000,0.165762,0.023766,0.031131,0.073370,0.041213,0.022412,...,0.014998,0.045792,0.032188,0.033890,0.011494,0.018620,0.022995,0.012347,0.034504,0.019794
4,0.263261,0.090859,0.369061,0.165762,1.000000,0.025200,0.650225,0.137537,0.084831,0.024863,...,0.030852,0.055029,0.048098,0.054263,0.023422,0.029778,0.017390,0.025320,0.070836,0.040626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17778,0.026184,0.028971,0.016748,0.018620,0.029778,0.008778,0.016199,0.015440,0.021442,0.024234,...,0.007807,0.017912,0.016755,0.017640,0.034527,1.000000,0.007478,0.006442,0.053783,0.010316
17779,0.031287,0.007565,0.023584,0.022995,0.017390,0.010483,0.009482,0.060949,0.012536,0.011257,...,0.002511,0.022130,0.010372,0.013553,0.075879,0.007478,1.000000,0.009085,0.010627,0.006103
17780,0.143677,0.075073,0.034322,0.012347,0.025320,0.002971,0.013777,0.074736,0.018235,0.049468,...,0.003630,0.011888,0.109511,0.011696,0.884845,0.006442,0.009085,1.000000,0.630845,0.008786
17781,0.045310,0.068916,0.039840,0.034504,0.070836,0.015186,0.038535,0.028605,0.051007,0.044896,...,0.018570,0.033198,0.149307,0.032678,0.688678,0.053783,0.010627,0.630845,1.000000,0.024540
17782,0.025994,0.071265,0.022853,0.019794,0.040626,0.008712,0.022103,0.016408,0.029255,0.008605,...,0.010650,0.057009,0.016624,0.068693,0.008219,0.010316,0.006103,0.008786,0.024540,1.000000

In [56]:
simlari=[]
for i in range(dff1.shape[0]):
    simlari.append(list(dff1[i].sort_values(ascending=False)[:11].index))

In [57]:
recomdprd=pd.DataFrame(simlari)
recomdprd

,0,1,2,3,4,5,6,7,8,9,10
0,0,3203,16017,14743,12521,17332,6547,15657,11146,10329,4693
1,1,13583,7936,878,6558,3701,2968,4034,1971,4981,12858
2,2,4045,7449,3,8436,4720,12705,17373,7472,5159,14022
3,3,8436,4045,2,7449,17467,14022,5159,5711,4720,7472
4,4,11220,7255,2438,3732,9458,11980,8218,16390,4958,2893
...,...,...,...,...,...,...,...,...,...,...,...
17778,17778,14861,12611,3972,12510,10143,13376,17445,17453,2780,12560
17779,17779,4398,3902,285,459,412,365,10858,10387,3655,13757
17780,17690,17780,17777,3100,17528,17285,17562,17730,7568,17727,17731
17781,17692,17781,1607,17732,17582,17726,17581,17420,17561,5051,17728
17782,17782,16688,6743,4757,11872,6565,17742,1834,10268,13152,2122

In [58]:
recomdprd.to_csv('recomended11.csv')

In [1]:
pd.read_csv('recomended11.csv',index_col=0)

NameError: name 'pd' is not defined

In [60]:
df1.head()

,brand,desc,disc_price,actual_price,image_url,product_url
0,MANOHARI,Banarasi Silk Jacquard Saree With Blouse Piece,"2,499","6,999",https://m.media-amazon.com/images/I/91EabjNVRP...,https://www.amazon.in/gp/slredirect/picassoRed...
1,Mashur Fab,Letest New Degine Saree For Womens Soft Satin ...,799,"2,599",https://m.media-amazon.com/images/I/51aP8aT0zi...,https://www.amazon.in/gp/slredirect/picassoRed...
2,CLOTHAM,Women’s Banarasi Saree,"1,199","3,999",https://m.media-amazon.com/images/I/919fS7cJn0...,https://www.amazon.in/gp/slredirect/picassoRed...
3,CLOTHAM,Women’s Banarasi Silk Saree With Blouse Piece ...,"1,100","4,499",https://m.media-amazon.com/images/I/91KVACOWho...,https://www.amazon.in/gp/slredirect/picassoRed...
4,ANNI DESIGNER,Women's Banarasi Silk Printed Saree,379,"2,598",https://m.media-amazon.com/images/I/91WCQ88UV5...,https://www.amazon.in/Designer-Banarasi-Silk-S...

In [61]:
img1=df1['image_url']
img1

0        https://m.media-amazon.com/images/I/91EabjNVRP...
1        https://m.media-amazon.com/images/I/51aP8aT0zi...
2        https://m.media-amazon.com/images/I/919fS7cJn0...
3        https://m.media-amazon.com/images/I/91KVACOWho...
4        https://m.media-amazon.com/images/I/91WCQ88UV5...
                               ...
17778    https://m.media-amazon.com/images/I/51DwFWrlxY...
17779    https://m.media-amazon.com/images/I/81Q9w68j-i...
17780    https://m.media-amazon.com/images/I/911rpxkD8T...
17781    https://m.media-amazon.com/images/I/91ShDoVza1...
17782    https://m.media-amazon.com/images/I/91TCQsymw0...
Name: image_url, Length: 17783, dtype: object

In [ ]:
def txt_split(text1):
    reg_text1 = text1.split('I/')[1]
    return reg_text1

In [ ]:
img=img1.apply(txt_split)

In [ ]:
img

In [ ]:
for i in img1:
    print(txt_split(i))

In [ ]:
img1

In [ ]:
import requests

In [ ]:
pics=[]
for i in img1:
    response =requests.get(i)
    if response.status_code==200:
        with open(r"C:\Users\rhmud\Downloads\amazon_saree_original_images\\"+txt_split(i),'wb') as f:
            f.write(response.content)

In [ ]:
f = r'C:\Users\rhmud\Downloads\amazon_saree_original_images'
for file in os.listdir(f):
    f_img = r'C:\Users\rhmud\Downloads\amazon_saree_resized_images'+"/"+file
    img = Image.open(f_img)
    img = img.resize((200,200))
    img.save(f_img)

In [64]:
saree = pd.read_csv('sareesimageflatten.csv',index_col=0)

In [65]:
saree

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,1.124182,0.861980,0.003510,0.117317,0.585288,0.437185,0.508918,0.033489,0.130857,0.089612,...,4.392810,0.000000,0.096821,2.786678,0.207978,0.042714,1.151416,0.003956,1.914214,0.818400
1,0.105984,0.284688,0.017386,0.391166,0.848452,0.162588,2.079924,0.234040,0.000000,0.049094,...,1.524184,0.026097,0.001266,2.718313,0.002029,0.426609,0.062559,0.056293,1.583918,0.159125
2,0.134871,1.024619,0.162387,0.117863,0.297048,1.315755,0.239301,0.072057,0.002895,0.029867,...,0.393344,0.079524,0.147104,1.796560,0.425768,0.265719,0.837553,0.015082,3.177644,0.559154
3,0.048981,3.006158,0.175919,0.005956,0.366553,0.065127,0.532142,0.122685,0.224129,0.029120,...,0.183157,0.623930,0.027705,1.332209,0.591559,0.000000,4.243419,0.042125,0.165871,2.981468
4,0.150110,0.472874,0.152200,0.022807,0.561810,0.188118,0.439550,0.751831,0.137817,0.977503,...,0.445702,0.055834,0.366598,1.600354,0.516455,0.546169,0.253667,0.026799,0.682913,0.641720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17778,0.753773,1.056038,0.082627,0.004006,0.000000,0.418917,0.265892,0.106226,0.012444,0.551856,...,0.149934,0.019137,0.000787,0.012559,0.600952,0.000000,0.000000,0.000000,0.041109,1.157752
17779,0.259329,0.159332,0.672668,0.121513,1.332022,0.033940,0.011720,0.516283,0.127798,0.039418,...,0.612774,0.330200,0.079239,3.714782,0.227450,0.334398,0.016754,0.180994,0.798533,0.341625
17780,0.419347,0.682333,0.131062,0.429114,0.253880,1.149184,0.072100,0.000000,0.053642,1.025939,...,0.212666,0.050127,0.038400,3.484457,0.399561,0.456234,0.417733,0.002154,1.129871,0.790886
17781,0.125476,0.721560,0.000000,0.044852,0.372057,0.904400,0.045397,0.459683,0.115234,0.272705,...,0.001886,0.024463,0.018600,2.374412,0.143859,0.116891,1.329455,0.027288,0.092423,0.867427
17782,0.048778,0.921829,0.036285,0.028435,0.050640,0.129126,0.608541,0.970919,0.146597,0.185197,...,0.690488,0.005834,0.005671,0.960332,0.073005,0.593209,0.205396,0.000000,0.729634,1.412542

In [ ]:
dfn=pd.concat([df1,dec2,df0],axis=1)